@font-face {
    font-family: 'Slack-Lato';
    src: url('../fonts/Slack-Lato.ttf');
}

html {
    min-width: 1000px;
}

body {
    font-family: Slack-Lato, sans-serif;
}

.main-wrapper {
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}

aside.groups_wrapper {
    min-height: 100%;
    background: #282A29;
    padding: 10px 10px;
    padding-top: 25px;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

aside.groups_wrapper .group {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.group .group_logo {
    width: 46px;
    height: 46px;
    margin: 0 auto;
    border-radius: 5px;
    opacity: 0.6;
}

.group .group_logo img {
    border-radius: 2px;
}

.group .group_logo i.add_icon {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.group p.group_shortcut {
    color: white;
    opacity: 0.6;
    font-size: 14px;
    font-family: Slack-Lato, sans-serif;
    text-align: center;
    line-height: 0.1;
}

.group_current {
    opacity: 1!important;
}

.group .group_logo.group_current::before {
    content: ' ';
    display: block;
    height: 45px;
    width: 6px;
    background: #939493;
    border-radius: 4px;
    position: absolute;
    left: -1px;
}

.current-room_wrapper {
    min-width: 220px;
    /* min-height: 100%; */
    background: #4D5250;
    /* padding: 0 15px; */
    font-family: Slack-Lato, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.current-room_wrapper .room-title {
    padding: 10px 15px;
    padding-bottom: 0;
    opacity: 0.6;
}

.current-room_wrapper .room-title:hover {
    opacity: 1;
    background: #434745;
}

.current-room_wrapper .society-wrapper {
    overflow-y: auto;
    height: 100%;
}

.society-wrapper .all-threads {
    line-height: 2;
    cursor: pointer;
}

.society-wrapper .all-threads:hover {
    background: #D39B46;
}

.room-title .room-name {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.room-name .fa-bell-o {
    float: right;
    opacity: 0.6;
}

.room-name .fa-bell-o:hover {
    opacity: 1;
}

.room-title .own-name {
    font-size: 14px;
    font-weight: 200;
}

i.online {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #94E864;
}

i.offline {
    font-size: 12px;
}

p.all-threads {
    opacity: 0.6;
    padding: 0 15px;
}

.channels-list_wrapper {
    padding-top: 20px;
}

.channels-list_wrapper .title {
    opacity: 0.6;
    padding: 0 15px;
}

.title .fa-plus-circle {
    float: right;
    opacity: 0.6;
}

.channels-list_wrapper .channel,
.direct-messages_wrapper .message-to {
    opacity: 0.6;
    cursor: pointer;
    padding: 0 15px;
    line-height: 2;
    margin: 0;
}

.channels-list_wrapper .channel:hover,
.direct-messages_wrapper .message-to:hover {
    opacity: 1;
    background: #D39B46;
}

.direct-messages_wrapper {
    padding-top: 20px;
}

.direct-messages_wrapper .title {
    opacity: 0.6;
    padding: 0 15px;
}

.direct-messages_wrapper .title:hover,
.channels-list_wrapper .title:hover {
    opacity: 1;
    cursor: pointer;
}

.message-to i.fa-heart {
    color: #99D04A;
    font-size: 0.8em;
}

.current-room_wrapper .invite-people {
    padding: 0 15px;
    padding-top: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.current-room_wrapper .invite-people:hover {
    opacity: 1;
}

.invite-people i.fa-plus {
    font-size: 12px;
}

.apps_wrapper {
    padding: 0 15px;
    padding-top: 20px;
    cursor: pointer;
}

.apps_wrapper:hover .title {
    opacity: 1;
}

.apps_wrapper .title {
    opacity: 0.6;
}

.quick-switcher {
    opacity: 0.6;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 20px 0;
}

.quick-switcher:hover {
    opacity: 1;
}

.main-window_wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 1px;
}

.main-window_wrapper .header {
    padding: 10px;
}

.info p.room-name {
    font-weight: 900;
    font-size: 22px;
    line-height: 1.7;
    margin: 0;
}

.info p.stat {
    font-size: 12px;
    opacity: 0.6;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F0F0F0;
}

.header .info {}

.header .control-elements {}

.control-elements i {
    padding: 5px 10px;
    opacity: 0.6;
    cursor: pointer;
}


/* .control-elements i:hover {
    background: #F2F2F5;
} */

.control-elements form {
    display: inline-block;
}

.control-elements>form i.fa-search {
    position: absolute;
}

.control-elements input {
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 6px 8px;
    padding-left: 35px;
}

.control-elements input:focus {
    animation: stretch 0.3s ease forwards;
}

.channel-wrapper {
    display: flex;
    height: 100%;
}

.msgs-wrapper {
    flex-grow: 3;
}

.about-channel-wrapper {
    flex-grow: 1;
    min-width: 320px;
    border-left: 1px solid #F0F0F0;
}

form.input-msg-wrapper .input-msg {
    outline: none;
    width: 100%;
    padding: 10px 5px;
    padding-right: 75px;
    border: 2px solid gray;
    border-radius: 0px 4px 4px 0px;
    max-height: 100px;
    overflow: auto;
}

form.input-msg-wrapper .input-msg[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-ph);
    color: gray;
}

.msgs-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 1px;
}

.posts-wrapper {
    /* background: coral; */
    width: 100%;
    height: 100%;
    overflow: auto;
}

form.input-msg-wrapper {
    display: flex;
    flex-direction: row;
    padding: 2px 0 15px 15px;
    align-items: initial;
    width: 100%;
    min-height: 42px;
}

form.input-msg-wrapper a.inner-input {
    text-decoration: none;
    color: #939493;
    position: absolute;
    align-self: center;
    position: relative;
}

form.input-msg-wrapper a.at {
    right: 60px;
}

form.input-msg-wrapper a.at:hover {
    color: #36A1E1;
}

form.input-msg-wrapper a.smiles {
    right: 50px;
}

form.input-msg-wrapper a.smiles:hover {
    color: #FFCC00;
}

a.inner-input i.fa {
    font-size: 1.3em;
}

form.input-msg-wrapper .msg-attach {
    background: inherit;
    border: 2px solid gray;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    width: 42px;
    outline: none;
}

form.input-msg-wrapper .msg-attach:hover {
    background: #56B68B;
}

.msg-attach:hover i.fa-plus {
    color: white;
}

.msg-attach i.fa-plus {
    color: gray;
}

.day-wrapper {}

.day-wrapper .date-wrapper {
    user-select: none;
    position: sticky;
    top: 0;
}

.date-wrapper .date-label {
    text-align: center;
}

.date-label {
    text-align: center;
}

.date-label .date {
    background: #FFF;
    padding: 0px 10px;
    position: relative;
    top: -18px;
}

.date-label hr {
    border: none;
    color: #F1F1F1;
    background-color: #F1F1F1;
    height: 1px;
}

.message-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 20px 15px;
    cursor: pointer;
}

.message-wrapper:hover {
    background: #F9F9F9;
}

.message-wrapper .user-photo-wrapper {
    min-width: 35px;
    height: 35px;
}

.message-wrapper .message-content {
    padding: 0 5px;
    font-family: Slack-Lato, sans-serif;
    color: #2c2d30;
    font-size: 15px;
    line-height: 18px;
}

.message-content .message-content_header {
    font-weight: bold;
}

.message-content .message-body {}

.message-content_header .msg-time {
    color: #717274;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 300;
}

.about-channel-wrapper {
    overflow: auto;
    cursor: pointer;
}

.about-channel-wrapper .section,
.about-channel-wrapper .header {
    padding: 20px 10px;
    margin: 0;
    line-height: 0.1;
}

.about-channel-wrapper .section {
    border-top: 1px solid #E8E8E8;
}

.about-channel-wrapper .header {
    background: #F7F7F7;
}

.about-channel-wrapper .header i.fa-times {
    -webkit-text-stroke: 6px white;
    opacity: 0.6;
}

.about-channel-wrapper .header i.fa-times:hover {
    color: #36A1E1;
}

.section.channel-details,
.section.hightlights,
.section.pinned {
    opacity: 0.6;
}

details.section summary {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    outline: none;
    opacity: 0.6;
    user-select: none;
}

details.section[open] summary {
    opacity: 0.9;
}

summary span {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

details.section:hover summary {
    opacity: 1;
}

.section.hightlights i.fa-star-o {
    color: #7DC3EC;
}

.section.pinned i.fa-thumb-tack {
    color: #FFAD9B;
}

.section.channel-details i.fa-info-circle,
.section.hightlights i.fa-star-o,
.section.pinned i.fa-thumb-tack {
    font-size: 1.5em;
}

.section.channel-details i.caret,
.section.hightlights i.caret,
.section.pinned i.caret {
    float: right;
}

.section.channel-details:hover,
.section.hightlights:hover {
    opacity: 1;
}

.section.active {
    opacity: 0.8;
}

ul.pinned-msgs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    padding: 10px 5px;
}

ul.pinned-msgs-wrapper li.pinned-msg {
    list-style: none;
    border: 2px solid #F3F3F3;
    border-radius: 3px;
    padding: 5px 10px;
    line-height: 1.5;
    margin-bottom: 5px;
    position: relative;
    transition: all 0.2s ease-out;
}

ul.pinned-msgs-wrapper li.pinned-msg:hover {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.15);
}

li.pinned-msg p.file-type {
    font-size: 13px;
    color: #717274;
    line-height: 0.1;
}

li.pinned-msg i.fa-times {
    font-size: 0.8em;
    opacity: 0.6;
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}

li.pinned-msg:hover i.fa-times {
    display: block;
}

li.pinned-msg i.fa-times:hover {
    opacity: 1;
}

p.stat i {
    cursor: pointer;
}

p.stat i.fa-star-o:hover {
    color: #FFD32F;
}

.control-elements i.fa {
    font-size: 1.3em;
}

p.stat i.fa-user-o:hover,
p.stat i.fa-thumb-tack:hover,
.control-elements i.fa-info:hover,
.control-elements i.fa-cog:hover,
.control-elements i.fa-ellipsis-v:hover {
    color: #36A1E1;
}

.control-elements i.fa-at:hover {
    color: #DF383F;
}

.control-elements i.fa-star-o:hover {
    color: #FFD32F;
}

p.stat i.topic {
    padding: 5px;
    position: relative;
}

p.stat i.topic:hover {
    border: 1px solid #E8E8E8;
    padding: 4px;
    border-radius: 3px;
}

i.topic a.edit-topic {
    display: none;
    padding: 0 5px;
    position: absolute;
    right: -30px;
    color: #0576B8;
    text-decoration: underline;
    cursor: pointer;
}

p.stat i.topic:hover a.edit-topic,
a.edit-topic:hover {
    display: inline;
}


/* ----------------------- */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(122, 122, 122, 0.1);
    background: #F3F3F3;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 4px;
    background: #D9D9DE;
    -webkit-box-shadow: inset 0 0 1px rgba(122, 122, 122, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(227, 227, 230, 0.3);
}

.society-wrapper::-webkit-scrollbar {
    width: 8px;
}

.society-wrapper::-webkit-scrollbar-track {
    background: inherit;
}

.society-wrapper::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.45);
    display: none;
}

.society-wrapper:hover::-webkit-scrollbar-thumb {
    display: block;
}

.groups_wrapper::-webkit-scrollbar-track {
    background: inherit;
}

@keyframes stretch {
    from {
        width: 224px;
    }
    to {
        width: 320px;
    }
}

.display-none {
    display: none!important;
}

.icon-disabled {
    opacity: 0.1!important;
}

.icon-active {
    background: #E8E8E8;
    opacity: 1;
    border-radius: 3px;
}

i.fa-at,
i.fa-smile-o,
i.fa-star-o,
i.fa-ellipsis-v,
i.fa-cog,
i.fa-info,
i.fa-user-o,
i.fa-thumb-tack,
i.fa-times {
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 1280px) {
    .about-channel-wrapper {
        min-width: 240px;
    }
}